@model FootballAppUI.Models.LeagueViewModel
<div class="form-group row pb-2">
    @Html.LabelFor(m=>m.Name, new { @class="col-sm-2 col-form-label"})
    <div class="col-sm-10">
        @Html.TextBoxFor(m => m.Name, new { @class="form-control"})
    </div>
</div>
@Html.ValidationMessageFor(m=>m.Name, "", new {@class="text-danger"})

<div class="form-group row pb-2">
    @Html.LabelFor(m=>m.Founded, new { @class="col-sm-2 col-form-label"})
    <div class="col-sm-10">
        @Html.TextBoxFor(m => m.Founded, new { @class="form-control"})
    </div>
</div>
@Html.ValidationMessageFor(m=>m.Founded, "", new {@class="text-danger"})